<h3>Entries matching text : {{text}} </h3>

<div class="btn-group" role="group">
    <button class="btn btn-primary" (click)="goBack()">go back</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Word</th>
            <th scope="col">Description</th>
            <th scope="col">Language</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of entries" routerLink="/entries/detail/{{entry.id}}">
            <td>{{entry.word}}</td>
            <td>{{entry.description}}</td>
            <td>{{entry.language.name}}</td>
        </tr>
    </tbody>
</table>