<h3>Search: </h3>
<input [(ngModel)]="text" type="text" class="form-control" name="text" placeholder="text">
<a *ngIf="text" class="btn btn-primary" routerLink="/entries/search/{{text}}">Search</a>
<h3>Statistics: </h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Count</th>
        </tr>
    </thead>
    <tbody>
        <tr routerLink="/languages">
            <td>Languages</td>
            <td>{{totalLanguages}}</td>
        </tr>
        <tr routerLink="/entries">
            <td>Total Entries</td>
            <td>{{totalEntries}}</td>
        </tr>
    </tbody>
</table>
